
<div class="text-center">
    <h1 class="display-4">Olá @ViewData["nomeUsuario"]</h1>
    <br />
    <h2 class="display-4">Bem vindo ao sistema de gestão interno o SGI</h2>
    <br />
    <h2 class="display-4" style="font-weight:bold">Você esta na loja @ViewData["nomeLoja"]</h2>
 </div>  
