@using static flordelizHemilly.Models.SuportClass
@model flordelizHemilly.Models.Usuario

@{
    ViewData["Title"] = "Editar";
    var listaLojas = ViewData["ListaSelectLojas"] as List<ItensSelectStatus>;
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LojasAcesso" class="control-label"></label>
                <input asp-for="LojasAcesso" class="form-control" />
                <span asp-validation-for="LojasAcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 *@




<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Editar usuário
                <small>Informe os dados abaixo</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" id="formCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Login" class="control-label"></label>
                                <input asp-for="Login" class="form-control" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Senha" class="control-label"></label>
                                <input asp-for="Senha" class="form-control" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Lojas de Acesso</label>
                            <input type="hidden" asp-for="LojasAcesso" />
                            <select id="IdsLoja" class="form-control" multiple="multiple">
                                @{
                                    foreach (var item in listaLojas)
                                    {
                                        <option value="@item.Value">@item.Descricao</option>
                                    }
                                }
                            </select>
                        </div>


                        <div class="col-md-4">
                            <label class="control-label">Loja que trabalha</label>
                            <select asp-for="LojaId" class="form-control">
                                @{
                                    foreach (var item in listaLojas)
                                    {
                                        <option value="@item.Value">@item.Descricao</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
