@model flordelizHemilly.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}


<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Cadastro cliente
                <small>Insira as informações</small>
            </h3>
        </div>
    </div>
    <div class="card-body">

        <form asp-action="CreateUpdate">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <input type="hidden" value="0" asp-for="LojaId" />

                        <div class="col-lg-4">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="NomeMae" class="control-label"></label>
                            <input asp-for="NomeMae" class="form-control" />
                            <span asp-validation-for="NomeMae" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="NomePai" class="control-label"></label>
                            <input asp-for="NomePai" class="form-control" />
                            <span asp-validation-for="NomePai" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label asp-for="Cpf" class="control-label"></label>
                            <input asp-for="Cpf" class="form-control" onkeypress="mascara(this, mcpf);" maxlength="14" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="Rg" class="control-label"></label>
                            <input asp-for="Rg" class="form-control" />
                            <span asp-validation-for="Rg" class="text-danger"></span>
                        </div>
                        </div>
                        </div>
                        </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">

                        <div class="col-lg-4">
                            <label asp-for="Endereco" class="control-label"></label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" type="date" class="form-control" />
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label class="control-label">Estado civil</label>
                            @* <input asp-for="EstdoCivil" class="form-control" /> *@
                            <select asp-for="EstadoCivil" class="form-control">
                                <option value="0">Selecione</option>
                                <option value="CASADO">Casado</option>
                                <option value="SOLTEIRO">Solteiro</option>
                                <option value="DIVORCIADO">Divorciado</option>
                            </select>
                            <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label asp-for="ContatoConjuge" class="control-label"></label>
                            <input asp-for="ContatoConjuge" class="form-control" />
                            <span asp-validation-for="ContatoConjuge" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="CasaPropriaAluguel" class="control-label"></label>
                            <select asp-for="CasaPropriaAluguel" class="form-control">
                                <option value="0">CASA PROPRIA</option>
                                <option value="1">ALUGUEL</option>
                            </select>
                            <span asp-validation-for="CasaPropriaAluguel" class="text-danger"></span>

                        </div>

                        <div class="col-lg-4">
                            <label asp-for="Profissao" class="control-label"></label>
                            <input asp-for="Profissao" class="form-control" />
                            <span asp-validation-for="Profissao" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">

                        <div class="col-lg-4">
                            <label asp-for="LocalTrabalho" class="control-label"></label>
                            <input asp-for="LocalTrabalho" class="form-control" />
                            <span asp-validation-for="LocalTrabalho" class="text-danger"></span>
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="RendaMensal" class="control-label"></label>
                            <input asp-for="RendaMensal" onkeypress="mascara(this, mdinheiro);" class="form-control" />
                            @* <span asp-validation-for="RendaMensal" class="text-danger"></span> *@
                        </div>

                        <div class="col-lg-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control"  onkeypress="mascara(this, mtel);" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-8">
                            <label asp-for="Observacoes" class="control-label"></label>
                            <input asp-for="Observacoes" class="form-control" />
                            <span asp-validation-for="Observacoes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <input type="hidden" asp-for="Status" value="1" />
            <input type="hidden" asp-for="DataAlteracaoCadastro" />
            <input type="hidden" asp-for="DataCadastro" />
            <input type="hidden" asp-for="ClienteID" />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                <script src="/Content/arquivos_download/js/mascaras.js"></script>
                <script src="/Views/Cliente/Js/Create.js"></script>

    }
}
